@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
        
        body {
            font-family: 'Nanum Myeongjo', serif;
            text-align: center;
            margin: 0px;
        }
        h1 {
            padding:40px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            padding: 20px;
        }
        a {
            text-decoration: none;
            color: black;
        }

        /*
        li-div 클래스 선언 후 마우스 커서 올렸을 때 폭죽 터지는 gif 재생
         class= "day"
        .day {
            원래 속성
        }
        .day: hover {
            start(gif);
            loop;
            cursor: pointer;
        } 
        */